.category_wrapper {
    display: inline-flex;
    width: 50%;
    height: 150px;
    justify-content: center;
    align-items: center;
}
#featured_wrapper {
    display: flex;
    flex-direction: column;
}

.topic_wrapper {
    display: flex;
    height: 50px;
    justify-content: flex-start;
    align-items: center;
    direction: rtl;
    padding-right: 20px;
}